 <style>
        body {
            margin: 0%;
            /* overflow: wrap; */
            /* height: 100%; */
        }
        /* @import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Titillium+Web:ital,wght@1,700&display=swap'); */
        
        h1 {
            font-size: 60px;
            font-family: cursive;
            padding-top: 20px;
            text-align: center;
            /* font-family: "Sofia", sans-serif; */
            font-family: 'Parisienne', cursive;
            /* font-family: 'Titillium Web', sans-serif; */
            color: rgb(16, 0, 247);
            /* font-size: 30px; */
            /* width: 200px; */
            /* display: flex; */
            /* justify-self: center; */
            /* align-items: center; */
        }
        /* .b1,
        input {
            display: inline;
        } */
        /* .btn1 {
            padding-left: 50px;
        } */
        
        .close {
            float: right;
            font-size: 30px;
        }
        /* .b1 {
            float: right;
            font-size: 50px;
            background-size: 50px;
        } */
        
        nav {
            border-bottom: 10px solid rgb(145, 156, 143);
            border-bottom-left-radius: 200px;
            border-bottom-right-radius: 200px;
            /* height: 150px; */
            /* width: 300%; */
            margin: 0;
            background-color: #25dd2e;
            background: radial-gradient(rgb(255, 0, 179), rgb(5, 204, 21), rgb(0, 128, 38));
            background: repeating-radial-gradient(rgb(201, 199, 199), rgb(148, 177, 154) 10%, rgb(167, 172, 167) 15%);
        }
        
        .nav {
            background-color: rgb(12, 11, 12);
        }
        
        @media screen and ( min-width: 0px) and ( max-width: 388px) {
            nav,
            .nav {
                /* font-size: 40px;
                 */
                /* display: flex; */
                width: 388px;
            }
        }
        /*   h2 {
            padding: 10px 10px 1px 10px;
            font-family: monospace;
            font-size: 30px;
        }
        
        .aa1 {
            font-family: serif;
            font-size: 50px;
            font-weight: bold;
            /* cursor: pointer; */
        /* } */
        
        button:hover {
            color: fuchsia;
            background-color: chartreuse;
        }
        
        .close:hover {
            background-color: black;
            border: 2px solid white;
        }
        
        li {
            word-wrap: break-word;
            word-break: break-word;
            background-color: rgb(197, 207, 173);
            /* width: 700px; */
            left: 10px;
            /* font-size: 50px; */
            /* background-size: 50px; */
            /* list-style: -moz-repeating-linear-gradient(); */
            /* list-style: -moz-repeating-linear-gradien(); */
            border-radius: 10px;
            /* border: 5px solid black; */
            /* height: 80px; */
            padding-left: 10px;
            /* padding-bottom: 10px; */
            padding-top: 10px;
            /* padding-right: 5px; */
            /* margin-left: 1%; */
        }
        /* .textAdd {
            right: 1;
        } */
        
        span {
            background-color: deeppink;
            color: white;
            border: 2px solid violet;
            border-radius: 10px;
            /* height: 40px; */
            /* float: right; */
            box-shadow: 10px;
            /* width: 120px; */
            box-sizing: border-box;
            font-size: 30px;
            padding-left: 10px;
            cursor: pointer;
            padding-right: 10px;
        }
        /* .b1 {
            font-size: auto;
            /* padding-bottom: 20px;
            padding-top: 20px; */
        /* .clstyle {
            border: 5px solid rgb(223, 79, 22);
            background-color: black;
            box-shadow: rgb(236, 217, 217);
            width: 200px;
            border-radius: 10px;
        } */
        
        #clock {
            font-size: 55px;
            color: rgb(14, 235, 14);
        }
        
        ul {
            margin: 0;
            padding: 0;
            transition: 0.3s;
        }
        
        .IN1 {
            padding-left: 5px;
            /* padding: 20px; */
            border-radius: 10px;
        }
        
        .IN1 {
            display: flex;
            flex-direction: row;
            border: 3px solid black;
            /* padding: 30px; */
            background-color: white;
        }
        
        input {
            flex-grow: 2;
            border: none;
            word-break: break-all;
            word-wrap: break-word;
            padding: 10px;
        }
        
        input:focus {
            outline: none;
        }
        
        button {
            /* border: 2px solid green; */
            background-color: green;
            color: white;
            width: 95px;
            border: none;
            height: 40px;
            cursor: pointer;
        }
        
        ul {
            display: flex;
            flex-direction: column;
            /* column-gap: 100px; */
            row-gap: 20px;
            /* border: 1px solid black; */
            padding: 20px;
        }
        
        li {
            font-size: 30px;
            display: flow;
            flex-grow: 2;
            flex-direction: column;
            list-style-type: none;
            /* column-gap: 30px; */
            /* row-gap: 20px; */
            font-family: "Trirong", serif;
            border: 0px solid rgb(241, 227, 199);
        }
        
         :focus {
            outline: none;
        }
        
        li ::after {
            content: "\a";
            white-space: pre-line;
        }
        
        span {
            /* float: left; */
            /* border: 1px solid green;
            background-color: green; */
            color: white;
        }
        
        input,
        button {
            overflow: hidden;
        }
        
        #clock {
            box-sizing: border-box;
            /* border: 10px solid red; */
            display: inline-block;
            /* width: 40%; */
            height: 100px;
            text-align: center;
            /* font-family: cursive; */
            color: black;
            padding-top: 10px;
            /* background-color: black; */
            font-family: "Trirong", serif;
            /* font-size: 30px; */
            text-shadow: 5px 5px 5px #222121;
        }
        
        .box1 {
            /* display: fl; */
            overflow: hidden;
            float: right;
            border: 1px solid black;
            border-radius: 10px;
            /* border-right: 0; */
        }
        /* li,
        #dtime {
            display: flex;
            flex-direction: column;
        } */
        /* li,
        .close {
            display: flex;
            flex-direction: row;
        } */
        
        #dtime {
            display: inline-block;
            background-color: rgb(68, 58, 124);
            border-radius: 5px;
            /* width: 200px; */
            /* border: 1px solid lightgray;
            border-radius: 4px; */
            /* background-color: deeppink; */
            color: white;
            /* border: 2px solid violet; */
            /* border-radius: 10px; */
            /* height: 40px; */
            /* float: right; */
            font-family: "Trirong", serif;
            /* font-size: 30px; */
            text-shadow: 3px 3px 3px #ababab;
            /* box-shadow: 10px; */
            /* width: 120px; */
            box-sizing: border-box;
            font-size: 15px;
            padding-left: 10px;
            /* cursor: pointer; */
            padding-right: 10px;
            /* float: left; */
        }
        
        li:hover {
            background-color: rgb(226, 226, 225);
            cursor: pointer;
            border: 1px solid white;
        }
        
        .box2 {
            display: flex;
            flex-direction: row;
            column-gap: 50px;
        }
        
        @media screen and ( min-width: 0px) and ( max-width: 768px) {
            .box2 {
                display: flex;
                flex-direction: column;
                column-gap: 10px;
            }
        }
        
        @media screen and ( min-width: 320px) and ( max-width: 500px) {
            h1 {
                font-size: 40px;
            }
        }
        
        @media screen and ( min-width: 0px) and ( max-width: 320px) {
            h1 {
                font-size: 20px;
            }
        }
        
        .box3 {
            /* display: inline; */
            padding: 30px;
            padding-right: 0;
            background-color: rgb(196, 189, 191);
        }
        
        hr {
            opacity: 50%;
        }
        
        .box4 {
            /* display: flex; */
            /* flex-direction: column; */
            width: 388px;
            background: rgba(230, 228, 230, 0.5);
        }
        /* .daynm {
            display: flex;
            column-gap: 10px;
        } */
        
        @media screen and ( min-width: 0px) and ( max-width: 388px) {
            .box1 {
                /* font-size: 40px;
                 */
                /* display: flex; */
                width: 368px;
            }
        }
        
        #bkbtn,
        #nxtbtn {
            width: 40px;
            cursor: pointer;
            box-shadow: 0px 0px 2px gray;
            border: none;
            outline: none;
            padding: 5px;
            border-radius: 5px;
            color: white;
        }
        
        #head {
            padding: 10px;
            color: #302e2e;
            font-size: 26px;
            font-family: fantasy;
            display: flex;
            justify-content: space-between;
        }
        
        #head button {
            background-color: #969c96;
        }
        
        #container {
            width: 388px;
        }
        
        #weekdays {
            width: 100%;
            display: flex;
            color: #161515;
        }
        
        #weekdays div {
            width: 45px;
            padding: 10px;
        }
        
        #calendar {
            width: 100%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
        }
        
        .day {
            width: 45px;
            padding: 4px;
            height: 45px;
            cursor: pointer;
            color: rgb(10, 10, 10);
            box-sizing: border-box;
            background-color: rgb(223, 219, 219);
            margin: 5px;
            box-shadow: 0px 0px 3px #CBD4C2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            padding-top: 10px;
        }
        
        .day:hover {
            /* background-color: #e8faed; */
            border: 2px solid white;
        }
        
        .day+#currentDay {
            background-color: #c56d08ef;
            border: 3px solid white;
            font-family: "Sofia", sans-serif;
            /* font-size: 30px; */
            text-shadow: 3px 3px 3px #161616;
        }
        
        .day+#currentDay:hover {
            border: 3px solid black;
        }
        /* .event {
            font-size: 10px;
            padding: 3px;
            background-color: #58bae4;
            color: white;
            border-radius: 5px;
            max-height: 55px;
            overflow: hidden;
        } */
        
        .padding {
            cursor: default !important;
            background-color: #FFFCFF !important;
            box-shadow: none !important;
        }
        
        * {
            margin: 0%;
        }
        
        body {
            /* background-color: rgba(41, 39, 41, 0.5);
            
             */
            background-image: linear-gradient(to bottom right, rgb(32, 34, 34), rgb(5, 197, 88));
        }
   
